<div id="container">
  <% if @item %>
    <%= render 'news_items/item', item: @item %>
  <% else %>
    <script src="//news.yandex.ru/ru/index5.utf8.js" charset="utf-8"></script>
    <script>
      (function(w,rubric){
        var data=w[rubric];
        if(!data||!data.length){return;}
        function formatDate(ts){
          var d=new Date(ts*1000);
          return d.getHours()+':'+('0'+d.getMinutes()).substr(-2);
        }
        var item = data[0];
        var html = '<div><span class="ya-news__date">'+item.date+'&nbsp;'+item.time+'</span><span class="ya-news__title"><a href="'+item.url+'" target="_blank">'+item.title+'</a></span></div><div class="ya-news__description">'+item.descr+'</div>';
        document.write(html);
      }(window, 'm_index'));
    </script>
  <% end %>
</div>
